poll_interval = 10

[[sink]]
type = "Print"

[[sink]]
type = "CollectdExec"
host_plugin = "raspi/co2"
plugin = "co2"
type_co2 = "gauge"
type_temperature = "temperature"


[[sink]]
type = "Influx"
host = "https://example.com/influxdb"
database = "climate"
user = "username"
pass = "passw0rd"
bulk_time = 60
